services:
  dev:
    # docker compose run --rm dev /bin/bash
    image: ${REGISTRY}/py-utils:dev
    tty: true
    environment:
      - DB_HOST
      - DB_USER
      - DB_PASSWORD
      - DB_NAME
      - S3_BUCKET
      - S3_PREFIX
      - CHROMECAST_NAME
      - CHROMECAST_HOST
      - SERVER_URL
      - WEBHOOK_URL
      - QUIET_START_HOUR=23
      - QUIET_END_HOUR=7
    volumes:
      - ./app:/app:delegated
      - ~/.aws:/root/.aws:delegated

  # HTTP Server (for Audio File Distribution)
  httpd:
    image: nginx:alpine
    ports:
      - "8050:80"
    volumes:
      - ./app/say_chromecast/data:/usr/share/nginx/html:ro
